<li class="list-group-item">
<%= form_with(model: score, format: :json, namespace: SecureRandom.hex, method: :patch, data: {'player-id': score.player_id}) do |form| %>
  <%= form.hidden_field :match_id %>
  <%= form.hidden_field :hole_id %>
  <%= form.hidden_field :player_id %>

  <div class="row align-items-start">
    <div class="col-3">
      <%= link_to player do %>
        <%= image_tag "#{player.username}.png", height: 64, width: 64, style: "border-radius:32px; box-shadow: var(--box-shadow)" %>
      <% end %>
      <div style="text-align:center; margin-top: 4px"><%= player.nick_name %></div>
    </div>
    <div class="col">
      <div style="display: flex; justify-content: space-between">
        <div style="display: flex; flex-direction: column; justify-content: center">
          Strokes
        </div>
        +1
      </div>
      <div class="row mt-1">
        <%= form.label :putt_count, "Putts", class: "col form-label" %>
        <%= form.select :putt_count, options_for_select(1..5, score.putt_count), {include_blank: true}, class: "col form-control form-control-sm" %>
      </div>
      <div class="row mt-1">
        <%= form.label :lost_ball_count, "Balls", class: "col form-label" %>
        <%= form.select :lost_ball_count, options_for_select(1..5, score.lost_ball_count), {include_blank: true}, class: "col form-control form-control-sm" %>
      </div>
    </div>
    <div class="col text-center">
      <%= form.label :total_count, "Score", class: "form-label" %>
      <%= form.number_field :total_count, class: "text-center form-control form-control-lg", data: { par: score.hole.par } %>
    </div>
    <div class="col">
        <%= button_tag type: "button", style: "padding: 2px 2px 2px 8px; width: 48px; height: 48px; background: none; border: none", data: { target: dom_id(score) }, ontouchstart: "" do %>
          <svg width="40px" height="40px" style="fill: #730aad; box-shadow: var(--box-shadow); border-radius: 20px;">
            <use xlink:href="<%= image_url 'solid.svg#circle-plus' %>"></use>
          </svg>
        <% end %>
        <%= button_tag type: "button", style: "padding: 2px 2px 2px 8px; width: 48px; height: 48px; background: none; border: none", data: { target: dom_id(score) } do %>
          <svg width="40px" height="40px" style="fill: #00ad56; box-shadow: var(--box-shadow); border-radius: 20px;">
            <use xlink:href="<%= image_url 'solid.svg#circle-minus' %>"></use>
          </svg>
        <% end %>
    </div>
<% end %>
</li>
