<%= form_with(model: score, html: { style: "display: flex;flex-direction: column;justify-content: center;"}) do |form| %>
  <% if score.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :match_id %>
  <%= form.hidden_field :hole_id %>
  <%= form.hidden_field :player_id %>

  <div>
    <%= form.label :score %>
    <%= form.number_field :score, style: "max-width: 50px;", min: "1", step: "1" %>
    <%= form.submit "Save" %>
  </div>
<% end %>
