<%= form_with(model: score, html: { style: "display: flex;flex-direction: column;justify-content: center;"}, format: :json) do |form| %>
  <% if score.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :match_id %>
  <%= form.hidden_field :hole_id %>
  <%= form.hidden_field :player_id %>

  <div style="display:flex;">
    <div style="display:flex; flex-direction:column; justify-content:center;">
      <%= form.label :score, for: dom_id(score) %>
      <%= form.number_field :score, id: dom_id(score), style: "max-width: 50px;", min: "1", step: "1", data: { par: score.hole.par } %>
    </div>
    <div style="display:flex; flex-direction: column;">
      <%= button_tag type: "button", style: "padding: 2px 2px 2px 8px; width: 48px; height: 48px; background: none; border: none", data: { target: dom_id(score) }, ontouchstart: "" do %>
        <svg width="40px" height="40px" style="fill: #730aad; box-shadow: var(--box-shadow); border-radius: 20px;">
          <use xlink:href="<%= image_url 'solid.svg#circle-plus' %>"></use>
        </svg>
      <% end %>
      <%= button_tag type: "button", style: "padding: 2px 2px 2px 8px; width: 48px; height: 48px; background: none; border: none", data: { target: dom_id(score) } do %>
        <svg width="40px" height="40px" style="fill: #00ad56; box-shadow: var(--box-shadow); border-radius: 20px;">
          <use xlink:href="<%= image_url 'solid.svg#circle-minus' %>"></use>
        </svg>
      <% end %>
    </div>
  </div>
<% end %>
