<%= form_with(model: score, html: { style: "display: flex;flex-direction: column;justify-content: center;"}, format: :json) do |form| %>
  <% if score.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :match_id %>
  <%= form.hidden_field :hole_id %>
  <%= form.hidden_field :player_id %>

  <div style="display:flex;">
    <div style="display:flex; flex-direction:column; justify-content:center;">
      <%= form.label :score, for: dom_id(score) %>
      <%= form.number_field :score, id: dom_id(score), style: "max-width: 50px;", min: "1", step: "1", data: { par: score.hole.par } %>
    </div>
    <div style="display:flex; flex-direction: column; margin-left: 8px;">
      <%= button_tag "+", type: "button", style: "margin-bottom: 4px; padding: 0; width: 40px; height: 40px; border-radius: 20px;", data: { target: dom_id(score) } %>
      <%= button_tag "-", type: "button", style: "margin: 0; padding: 0; width: 40px; height: 40px; border-radius: 20px;", data: { target: dom_id(score) } %>
    </div>
  </div>
<% end %>
