<% team_scores = @match.teams.ids.zip([0,0]).to_h %>
<% player_stabbies = @players.ids.zip([0,0,0,0]).to_h %>
<h1 class="logo text-center my-3">Scorecard</h1>
  <%= render 'nav' %>
 
<div style="background:white; margin: 16px 8px; overflow-x:scroll; display:flex; flex-direction:column; border-radius: 8px; box-shadow: var(--box-shadow); ">
<pre><%#= JSON.pretty_generate(@model.as_json) %></pre>
<table class="text-center">
  <thead>
    <tr>
      <th colspan="2"><%= @match.course.name %></th>
      <th colspan="3"><%= @match.date %></th>
      <th colspan="2">
        <%= @match.teams.map(&:name).join(' vs. ') %>
      </th>
    </tr>
    <tr>
      <th>Hole</th>
      <th>Stroke</th>
      <th>Par</th>
      <% @players.each do |player| %>
        <th>
          <%= link_to player do %>
            <%= image_tag "#{player.username}.png", height: 32, width: 32, style: "border-radius:16px; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%)" %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <% @match.course.holes.order(:number).each do |hole| %>
    <tr>
      <td style="text-align:center; border-top: 1px solid lightgray;"><%= link_to hole.number, new_score_path(score: { match_id: @match.id, hole_id: hole.id }) %></td>
      <td style="text-align:center; border-top: 1px solid lightgray;"><%= hole.stroke %></td>
      <td style="text-align:center; border-top: 1px solid lightgray;"><%= hole.par %></td>
      <% hole_scores = @scorecard.group_by(&:number) %>
      <% @players.each do |player| %>
        <td style="text-align:center; border-top: 1px solid lightgray;">
          <% score = hole_scores[hole.number].find { |s| s.player_id == player.id } %>
          <% team_scores_for_hole = hole_scores[hole.number].select { |s| s.player_id.in? player.team.players.ids } %>
          <% highest_team_score = team_scores_for_hole.sort_by(&:points).last %>

          <% if score == highest_team_score %>
            <% team_scores[player.team_id] += score.points %>
            <% player_stabbies[player.id] += score.points %>
            <div class="fw-bold">
              <%= score.gross_score %>
              <% if score.points > 0 %>
                (<%= score.points %>)
              <% end %>
            </div>
          <% else %>
            <div>
              <%= score.gross_score %>
              <% if score.points > 0 %>
                (<%= score.points %>)
              <% end %>
            </div>
          <% end %>

        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td style="text-align:center; border-top: 1px solid lightgray;"></td>
    <td style="text-align:center; border-top: 1px solid lightgray;"></td>
    <td style="text-align:center; border-top: 1px solid lightgray;"></td>
    <% @players.each do |player| %>
      <% player_scores = @scorecard.select { |s| s.player_id == player.id } %>
      <td style="text-align:center; border-top: 1px solid lightgray;"><%= player_scores.map(&:gross_score).compact.sum %> (<%= player_stabbies[player.id] %>)</td>
    <% end %>
  </tr>
  <tr>
    <td style="text-align:center; border-top: 1px solid lightgray;">Total</td>
    <td style="text-align:center; border-top: 1px solid lightgray;"></td>
    <td style="text-align:center; border-top: 1px solid lightgray;"></td>
    <% @match.teams.order(:id).each do |team| %>
      <td colspan="2" style="text-align:center; border-top: 1px solid lightgray;">
        <%= team_scores[team.id] %>
      </td>
    <% end %>
  </tr>
</table>
</div>
<div>

<br>
<div style="margin-bottom: 32px; text-align:center">
  <%= link_to "Back to matches", matches_path %>
</div>
