<div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <% 3.times do |i| %>
      <div class="carousel-item <%= 'active' if i == 1 %>">
        <%= @match.course.name %>
        <div style="display:flex; justify-content:center">
          <h2 class="logo" style="margin-bottom:0">No. <%= i %></h2>
        </div>
        <div style="display:flex; justify-content:space-evenly">
          <span>Par: <%= @hole.par %></span>
            <%= link_to "Scorecard", scores_path(match_id: @match.id) %>
          <span>Stroke: <%= @hole.stroke %></span>
        </div>
  <ul id="players" class="list-group list-group-flush">
          <% @players.each do |player| %>

    <li class="list-group-item">
  
            <%= render "form", player: player, score: player.scores.find_or_create_by(match_id: @match.id, hole_id: @hole.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" style="width: 40px; height: 40px; background: #e6dcdc; border: none; box-shadow: var(--box-shadow); border-radius: 20px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    <svg width="24px" height="24px" style="position: absolute; fill: #000; left: 8px; top: 8px;">
      <use xlink:href="<%= image_url 'solid.svg#chevron-left' %>"></use>
    </svg>
  </button>
  <button class="carousel-control-next" style="width: 40px; height: 40px; background: #e6dcdc; border: none; box-shadow: var(--box-shadow); border-radius: 20px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    <svg width="24px" height="24px" style="position: absolute; fill: #000; left: 8px; top: 8px;">
      <use xlink:href="<%= image_url 'solid.svg#chevron-right' %>"></use>
    </svg>
  </button>
</div>

<div style="text-align: center; position: absolute; width: 100%; top: 0px"><p style="color: green; "><%= notice %></p></div>

<div style="display:flex; justify-content: space-between;">
  <%= form_tag @previous_score ? new_score_path : scores_path, method: :get do %>
    <% if @previous_score %>
      <%= hidden_field_tag "score[match_id]", @previous_score.match_id %>
      <%= hidden_field_tag "score[hole_id]", @previous_score.hole_id %>
    <% else %>
      <%= hidden_field_tag "match_id", @match.id %>
    <% end %>
  <% end %>
</div>

<script>
  function debounce(func, wait, immediate) {
    var timeout;
    return function() {
      var context = this, args = arguments;
      var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  };
  var emitChangeEvent = debounce(function (input) {
    input.dispatchEvent(new Event('change'))
  }, 300)

  document.getElementById('players').querySelectorAll('form').forEach(form => {
    form.addEventListener('submit', e => {
      const body = new FormData(form)
      fetch(form.action, {
        method: form.method, // or 'PUT'
        body: body,
      })
      e.preventDefault()
    })
    form.querySelectorAll('select').forEach(select => {
      select.addEventListener('change', e => {
        form.dispatchEvent(new Event('submit'));
      });
    })
    form.querySelector('input[type="number"]').addEventListener('change', e => {
      form.dispatchEvent(new Event('submit'));
    })
    form.querySelectorAll('[data-target]').forEach(button => {
      button.addEventListener('click', e => {
        const input = form.querySelector(`#${button.dataset.target}`);
        if (input.value.length > 0) {
          input.value = button.querySelector('use').getAttribute('xlink:href').split('-').splice(-1)[0] === 'plus' ? parseInt(input.value) + 1 : parseInt(input.value) - 1
        } else {
          input.value = input.dataset.par
        }
        emitChangeEvent(input)
        e.preventDefault()
      })
    })
  })
</script>