<div id="<%= dom_id match_hole_player_score %>">
  <p>
    <strong>Match:</strong>
    <%= match_hole_player_score.match_id %>
  </p>

  <p>
    <strong>Hole:</strong>
    <%= match_hole_player_score.hole_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= match_hole_player_score.player_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= match_hole_player_score.score %>
  </p>

</div>
