<p style="color: green"><%= notice %></p>

<%= render @match_hole_player_score %>

<div>
  <%= link_to "Edit this match hole player score", edit_match_hole_player_score_path(@match_hole_player_score) %> |
  <%= link_to "Back to match hole player scores", match_hole_player_scores_path %>

  <%= button_to "Destroy this match hole player score", @match_hole_player_score, method: :delete %>
</div>
