<p style="color: green"><%= notice %></p>

<h1 class="logo">Matches</h1>

<div id="matches">
  <% @matches.group_by(&:date).each do |date, matches| %>
    <h3 style="margin-top:0; text-align:center"><%= date.strftime('%-d %b') %> - <%= matches.first.course.name %></h3>
    <% matches.each do |match| %>
      <%= link_to match, style: "text-decoration:none; color:inherit" do %>
        <%= render match %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "New match", new_match_path %>
