<p style="color: green"><%= notice %></p>

<h1 class="logo">Matches</h1>

<div id="matches" style="background:white">
  <% @matches.each do |match| %>
    <%= link_to "Show this match", match %>
    <% match.teams.each do |team| %>
      <%= link_to "Show this team", team %>
      <% team.players.each do |player| %>
        <%= link_to player, style: "display:flex; padding:8px; border-bottom:1px solid lightgray; text-decoration:none; color:inherit" do %>
          <%= render player %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "New match", new_match_path %>
