<p style="color: green"><%= notice %></p>

<h2 style="margin-top:0; text-align:center"><%= @match.date.strftime('%-d %b') %> - <%= @match.course.name %></h2>
<%= render @match %>


<h2 style="text-align:center">
  Scorecard
</h2>

<div style="overflow-x:scroll; display:flex; flex-direction:column">
<table style="margin: 0 8px 16px 8px; background:white; padding: 8px; border-radius: 8px; box-shadow: var(--box-shadow); border-collapse:collapse">
  <thead>
    <tr>
      <th>Hole</th>
      <th>Stroke</th>
      <th>Par</th>
      <% @match.teams.flat_map(&:players).each do |player| %>
        <th>
          <%= image_tag "#{player.username}.png", height: 32, width: 32, style: "border-radius:16px; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%)" %>
        </th>
      <% end %>
    </tr>
  </thead>
  <% @match.course.holes.order(:number).each do |hole| %>
    <tr>
      <td style="text-align:center; border-top: 1px solid lightgray;"><%= link_to hole.number, hole %></td>
      <td style="text-align:center; border-top: 1px solid lightgray;"><%= hole.stroke %></td>
      <td style="text-align:center; border-top: 1px solid lightgray;"><%= hole.par %></td>
      <% @match.teams.flat_map(&:players).each do |player| %>
        <td style="text-align:center; border-top: 1px solid lightgray;">
          <%= player.match_hole_player_scores.find_by(match_id: @match.id, hole_id: hole.id)&.score %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
<div>
  <%= link_to "Edit this match", edit_match_path(@match) %> |
  <%= link_to "Back to matches", matches_path %>

  <%= button_to "Destroy this match", @match, method: :delete %>
</div>
