<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CfCup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "bootstrap.min" %>
  </body>
</html>
